.label {
  font: 14px tahoma;
  width: 110px;
  padding-top: 4px;
  padding-right: 10px;
  text-align: left;
  float: left;
}

.input {
  float: left;
}

#form {
  margin: 0px auto;
  border: 1px solid #bcbcbc;
  background: #ececec;
  padding: 20px 25px;
  width: 300px;
  overflow: hidden;
}