.highlight {
  background-color: green !important;
}

div.inner {
  height: 100px;
  width: 100px;
  margin: 5px;
  text-align: center;
  border:1px solid black;
  float: left;
}

#container {
  width: auto;
  height: auto;
  padding: 10px;
  max-width: 1020px;
  border:1px solid black;
  float: left;
}

#addItem {
  float: right;
}