div {
  float: left;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  min-width: 100px;
  min-height: 100px;
  background-color: #2eccfa;
}

.item {
  float: none;
  height: 100px;
  width: 100px;
}

.highlight {
  background-color: green;
}

.selected {
  background-color: red;
}

.order {
  float: none;
  background-color: #2efe2e;
}

#personalOrder {
  clear: both;
}

.orderHighlight {
  background-color: yellow;
}

#specialDiv {
  border-style: none;
}